@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f7f6f1;
  --primary: #000;
  --secondary: #a0a09e;
  --accent: #61bb73;
}

/* Add these more specific rules */
html, body {
  @apply overflow-x-hidden;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  @apply bg-background text-primary;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  max-width: 100vw;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-orbitron;
}

p, span, div {
  @apply font-roboto;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
